@import url(https://fonts.googleapis.com/css?family=Merriweather);

*{
	font-family: 'Merriweather', serif;
}

#quote{
	margin-left: 10%;
	margin-right: 10%;
	text-align: center
}

#centered {
  position: fixed;
  top: 40%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
#subtle {
 color: #888888;

}

#black{

	a:link {color: #000000}
	a:visited {color: #006600}
	a:hover {color: #FFCC00}
	a:active {color: #FF00CC}

}
